@using PsikoterapsitlerBurada.Models 
@model PsikoterapsitlerBurada.Models.ViewModels.SelectUserToAskQuestionViewModel
@{
    ViewBag.Title = "SelectUserToAskQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Soru</h2>

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h3>Soru</h3>
            <p>@Model.Question.QuestionText</p>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table js-users">
            <tr>
                <th>Kullanıcı İsmi</th>
                <th>Kategorisi</th>
                <th>Rating</th>
                <th></th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-link js-username" id="@user.Id" data-username="@user.UserName">Seç</button>
                    </td>
                </tr>
            }
        </table>
    </div>
    
        <table class="table-bordered" id="table-selected-users">
            <tr>
                <th>Seçilenler</th>
            </tr>
        </table>
    </div>

@section scripts
{
    <script>
        $(document).ready(function() {
            var questionId = @Model.Question.Id;

            $(".js-username").click(function(select) {
                var selectedUserId = $(select.target).attr('id');
                var selectButton = document.getElementById(selectedUserId);

                $.post("/api/selectedusers", { selectedUserId: selectedUserId, questionId: questionId })
                    .done(function () {
                        userAdded();
                    })
                    .fail(function () { console.log("Failed") });


                function userAdded() {
                    selectButton.innerText = "Eklendi";
                    selectButton.disabled = true;
                    var username = $(select.target).attr("data-username");
                    var table = document.getElementById("table-selected-users");
                    var row = table.insertRow(table.rows.length);
                    var userCell = row.insertCell(0);
                    var actionCell = row.insertCell(1);
                    var removeUser = document.createElement("button");
                    removeUser.innerText = "Çıkar";
                    removeUser.setAttribute("user-id", selectedUserId);
                    removeUser.className = "btn btn-link js-remove-user";
                    userCell.innerHTML = username;
                    actionCell.appendChild(removeUser);

                    $(".js-remove-user").click(function (remove) {

                        var removeUserId = $(remove.target).attr("user-id");
                        var removeButton = $(this);
                        var userButton = document.getElementById(removeUserId);

                        $.post("/api/RemoveSelectedUsers", { selectedUserId: removeUserId, questionId: questionId })
                            .done(function () {
                                userRemove();
                            })
                            .fail(function () { console.log("Failed") });

                        function userRemove() {
                            userButton.innerText = "Seç";
                            userButton.disabled = false;
                            removeButton.closest("tr").remove();
                        }
                    });
                }
            });

            
        });

</script>
}
