@using PsikoterapsitlerBurada.Models 
@model PsikoterapsitlerBurada.Models.ViewModels.SelectUserToAskQuestionViewModel
@{
    ViewBag.Title = "SelectUserToAskQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Soru</h2>

<div class="panel panel-success">
    <div class="panel-heading">
        <span>Bu soru kimlere sormak istersiniz? </span>
        </div>
    <div class="panel-body">
        @Model.Question.QuestionText
    </div>
</div>


<table cellspacing="0" class="table table-striped" id="js-users" width="100%">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Kategori</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>Kategori</td>
                <td>
                    <button class="btn btn-link js-username" id="@user.Id" data-username="@user.UserName">Seç</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<table class="table table-striped" id="js-selected" width="100%">
    <tr>
        <th>Seçilenler</th>
        <th></th>
    </tr>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            //Datatable
            $(document).ready(function() {
                $("#js-users").DataTable();
            });

            var questionId = @Model.Question.Id;

            $(".js-username").click(function(select) {
                var selectedUserId = $(select.target).attr('id');
                var selectButton = document.getElementById(selectedUserId);

                $.post("/api/selectedusers", { selectedUserId: selectedUserId, questionId: questionId })
                    .done(function () {
                        userAdded();
                    })
                    .fail(function () { console.log("Failed") });

                function userAdded() {
                    selectButton.innerText = "Eklendi";
                    selectButton.disabled = true;
                    var username = $(select.target).attr("data-username");
                    var table = document.getElementById("js-selected");
                    var row = table.insertRow(table.rows.length);
                    var userCell = row.insertCell(0);
                    var actionCell = row.insertCell(1);
                    var removeUser = document.createElement("button");
                    removeUser.innerText = "Çıkar";
                    removeUser.setAttribute("user-id", selectedUserId);
                    removeUser.className = "btn btn-link js-remove-user";
                    userCell.innerHTML = username;
                    actionCell.appendChild(removeUser);
                    $(row).addClass("animated pulse");

                    $(".js-remove-user").click(function (remove) {

                        var removeUserId = $(remove.target).attr("user-id");
                        var removeButton = $(this);
                        var userButton = document.getElementById(removeUserId);

                        $.post("/api/RemoveSelectedUsers", { selectedUserId: removeUserId, questionId: questionId })
                            .done(function () {
                                userRemove();
                            })
                            .fail(function () { console.log("Failed") });

                        function userRemove() {
                            var row = removeButton.closest("tr");
                            userButton.innerText = "Seç";
                            userButton.disabled = false;
                            $(row).addClass("animated fadeOut")
                                .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
                                    function() {
                                        $(this).remove();
                                    });
                            //$('#yourElement').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', removeButton.closest("tr").remove());
                        }
                    });
                }
            });

            
        });

</script>
}
