@model IEnumerable<PsikoterapsitlerBurada.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<h4>Sorular</h4>

@foreach (var question in Model)
{
    <div class="jumbotron">
        <table class="table-condensed questions">
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="vote">
                                <div class="text-center">
                                    <span 
                                        class="glyphicon glyphicon-chevron-up js-vote-up" 
                                          data-question-id = @question.Id></span>
                                </div>
                                <div class="text-center">
                                    <p class="vote-counter">@question.TotalVotes</p>
                                </div>
                                <div class="text-center">
                                    <span class="glyphicon glyphicon-chevron-down js-vote-down" data-question-id = @question.Id></span>
                                </div>
                            </div>
                            <div class="text-center">
                                <p>0</p>
                                <span class="label label-default">Cevap</span>
                            </div>
                            </div>
                    </div>
                </td>
                <td class="question-text">
                        <div class="question-text">
                            <p class="question-text">@question.QuestionText
                            </p>
                        </div>
                        <small class="who-asked pull-right">@question.WhoAsked.UserName</small>
                </td>
            </tr>
        </table>  
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-vote-up").click(function(e) {

                var auth = @User.Identity.IsAuthenticated.ToString().ToLower();
                if (!auth) {
                    console.log("Oy kullanmak için giriş yapmalısın.");
                    return;
                }

                var questionId = parseInt($(e.target).attr("data-question-id"));
                var voteDto = {
                    voteAction: 1,
                    questionId: questionId
                };
                $.post("/api/vote", voteDto);
            });

            $(".js-vote-down").click(function(e) {

                var auth = @User.Identity.IsAuthenticated.ToString().ToLower();
                if (!auth) {
                    console.log("Oy kullanmak için giriş yapmalısın.");
                    return;
                }

                var questionId = parseInt($(e.target).attr("data-question-id"));
                var voteDto = {
                    voteAction: -1,
                    questionId: questionId
                };
                $.post("/api/vote", voteDto);
            });
        });
    </script>
 }
