
@using Microsoft.AspNet.Identity
@model IEnumerable<PsikoterapsitlerBurada.Core.Models.Question>
@{
    ViewBag.Title = "GetQustionAskedToMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sana Sorulan Sorular</h2>
<br />

@foreach (var question in Model)
{
    <div class="jumbotron">
        <table class="questions">
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="vote">
                                <div class="text-center">
                                    <span class="label label-default">Oy</span>
                                </div>
                                <div class="text-center">
                                    <p class="vote-counter">@question.TotalVotes</p>
                                </div>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </td> 
                <td class="question-text" rowspan="2">
                    <div class="question-text">
                        @question.QuestionText
                    </div>
                    @if (question.WhoAsked != null)
                    {
                        <a href=@Url.Action("UserProfile", "User", new {id = question.WhoAsked.Id})>
                            <small class="who-asked pull-right">
                                @question.WhoAsked.UserName
                            </small>
                        </a>

                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-center">
                        <p>@question.Answers.Count</p>
                        <span class="label label-default">Cevap</span>
                    </div>
                </td>
            </tr>
        </table> 
        @if (question.Answers.Any(a => a.UserId == User.Identity.GetUserId()))
        {
            <span class="pull-right"><i class="glyphicon glyphicon-ok"></i> Cevaplandı</span>
        }
        else
        {
            @Html.ActionLink("Cevapla","GetAnswers","Answers", new { id = question.Id}, new {@class = "btn btn-link btn-sm pull-right"})
        }
    </div>
}


