 @using Microsoft.AspNet.Identity 
@model PsikoterapsitlerBurada.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 profile">
            <div class="thumbnail">
                <img src="http://lorempixel.com/242/200/people" alt="...">
                <div class="caption">
                    <h3>@Model.UserName</h3>
                    <p>
                        <button class="btn btn-primary">Takip</button>
                    </p>
                </div>
                <hr />
                <div class="info form-group">
                    <a class ="js-user-questions">
                        Sorduğu sorular - (@Model.AskedQuestions.Count)
                    </a>
                    <br />
                    <a class="js-user-answers">
                        Cevaplar - (@Model.Answers.Count)
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8 action">
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $(".js-user-questions").click(function () {
                var url = '@Url.Action("GetUserQuestions","User", new {id = Model.Id})';
                $("div.action").load(url);
            });
            $(".js-user-answers").click(function () {
                var url = '@Url.Action("GetUserAnswers","User", new { id = Model.Id })';
                $("div.action").load(url);
            });
        })
    </script>
}