@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Soru Sor","Create","Question")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
 
<script type="text/x-temlate" id="notification-template">
    <ul class="notification">
        <% _.each(notifications, function(notification) { 
                if(notification.notificationType == 1){
        %>
        <li><span class="highlight"><a href="/user/userprofile/<%=notification.following.follower.id%>"><%= notification.following.follower.userName %></a></span> seni takip etti</li>
        <%
        } else if (notification.notificationType == 2){
        %>
        <li><span class="highlight"><%= notification.question.whoAsked.userName %></span> <a href="/User/GetMyQuestions">sana bir soru sordu</a></li>
        <%
        } else if (notification.notificationType == 3) {
        %>
        <li><span class="highlight"><%= notification.answer.user.userName%></span> <a href="/Answers/GetAnswers/<%= notification.answer.questionId%>">sorunu yanıtladı</a></li>
        <%
        } else if (notification.notificationType == 4) {
        %>
        <li><span class="highlight"><%= notification.userLike.userName%></span> <a href="/Answers/GetAnswers/<%= notification.answer.questionId%>">yanıtını beğendi</a></li>
        <%
        }
       });%>
    </ul>
    

</script>
<script>
    $(document).ready(function() {
        $.getJSON("/api/notification",
            function(notifications) {
                console.log(notifications);
                $(".js-notification-count").text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounce");
                $(".notification").popover({
                    html: true,
                    placement: "bottom",
                    content: function () {
                        var template = $("#notification-template").html();
                        var content = _.template(template);
                        return content({notifications: notifications});
                    }
                });
            });
       
    });
</script>
</body>
</html>
