@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Psikoterapistler Burada", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Soru Sor","Create","Question")</li>
                <li>@Html.ActionLink("Ara","Search","Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
 
<script type="text/x-temlate" id="notification-template">
    <ul class="notification">
        <% _.each(notifications, function(notification) { 
                if(notification.notificationType == 1){
        %>
        <li>
            <span class="highlight">
                <a data-notification="<%=notification.id%>"
                   class="js-notification-close" href="/user/userprofile/<%=notification.following.follower.id%>">
                    <%= notification.following.follower.userName %>
                </a>
            </span> seni takip etti
            <i class="glyphicon glyphicon-remove pull-right notification-close js-notification-close" data-notification="<%=notification.id%>">
            </i>
        </li>
        <%
        } else if (notification.notificationType == 2){
        %>
        <li>
            <span class="highlight">
                <%= notification.question.whoAsked.userName %>
            </span>
            <a data-notification="<%=notification.id%>"
               class="js-notification-close"
               href="/User/WriteAnswer/<%=notification.question.id%>" >sana bir soru sordu</a>
            <i class="glyphicon glyphicon-remove pull-right notification-close js-notification-close"
               data-notification="<%=notification.id%>"></i>
        </li>
        <%
        } else if (notification.notificationType == 3) {
        %>
        <li>
            <span class="highlight">
                <%= notification.answer.user.userName%>
            </span>
            <a data-notification="<%=notification.id%>"
               class="js-notification-close"
               href="/Answers/GetAnswers/<%= notification.answer.questionId%>">
                sorunu yanıtladı
            </a>
            <i class="glyphicon glyphicon-remove pull-right notification-close js-notification-close"
               data-notification="<%=notification.id%>">
            </i>
        </li>
        <%
        } else if (notification.notificationType == 4) {
        %>
        <li>
            <span class="highlight">
                <%= notification.userLike.userName%>
            </span>
            <a data-notification="<%=notification.id%>"
               class="js-notification-close"
               href="/Answers/GetAnswers/<%= notification.answer.questionId%>">
                yanıtını beğendi
            </a>
            <i class="glyphicon glyphicon-remove pull-right notification-close js-notification-close"
               data-notification="<%=notification.id%>">
            </i>
        </li>
        <%
        }
       });%>
    </ul>
    

</script>
<script>
    $(document).ready(function() {
        $.getJSON("/api/notification",
            function(notifications) {
                console.log(notifications);
               if (notifications.length > 0) {
                   $(".js-notification-count").text(notifications.length)
                       .removeClass("hide")
                       .addClass("animated bounce");
                   $(".notification").popover({
                       html: true,
                       placement: "bottom",
                       content: function () {
                           var template = $("#notification-template").html();
                           var content = _.template(template);
                           return content({notifications: notifications});
                       }
                   });
               }
            });

        $(document).on("click",
            "i.js-notification-close",
            function (e) {
                var notificationId = $(e.target).attr("data-notification");
                var element = $(e.target);
                $.post("/api/readnotification/" + notificationId)
                    .success(function () {
                        element.closest("li").addClass("animated fadeOut")
                            .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
                            function () {
                                var count = parseInt($(".js-notification-count").text());
                                count--;
                                if (count === 0) {
                                    $(".js-notification-count").text("").addClass("hide");
                                    $(".notification").popover("destroy");
                                    return;
                                }
                                element.closest("li").remove();
                                $(".js-notification-count").text(count);
                            });
                    });

            });

        $(document).on("click",
            "a.js-notification-close",
            function(e) {
                var notificationId = $(e.target).attr("data-notification");
                $.post("/api/readnotification/" + notificationId);
            });

    });
</script>
</body>
</html>
