@model IEnumerable<PsikoterapsitlerBurada.Core.Models.ViewModels.QuestionViewModel>

<br />

@foreach (var question in Model)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <span>Bu soru şunlara soruldu: </span>
            @foreach (var user in question.AskedToWhom)
            {
                <a href=@Url.Action("UserProfile", "User", new {id = user.Id})>
                    <span class="tag">@user.UserName</span>
                </a>
            }
            
            @if (question.Answers.Count > 0)
            {
                <a href="@Url.Action("GetAnswers","Answers", new { id = question.Id})">
                    <span class="pull-right">Cevaplar</span>
                </a>
            }
            else
            {
                <p class="pull-right">Henüz cevaplanmamış</p>
            }
        </div>
        <div class="panel-body">
            <table class="questions">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="vote">
                                    <div class="text-center">
                                        <span class="label label-default">Oy</span>
                                    </div>
                                    <div class="text-center">
                                        <p class="vote-counter">@question.TotalVotes</p>
                                    </div>
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td> 
                    <td class="question-text" rowspan="2">
                        <div class="question-text">
                            @question.QuestionText
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text-center">
                            <p>@question.Answers.Count</p>
                            <span class="label label-default">Cevap</span>
                        </div>
                    </td>
                </tr>
            </table> 
        </div>
    </div>
    <hr/>
}