@model IEnumerable<PsikoterapsitlerBurada.Models.ViewModels.QuestionViewModel>

<h2>Sorulan Sorular</h2>
@foreach (var question in Model)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <span>Bu soru şunlara soruldu: </span>
            @foreach (var user in question.AskedToWhom)
            {
                <a href=@Url.Action("UserProfile", "User", new {id = user.Id})>
                    <span class="tag">@user.UserName</span>
                </a>
            }
            
            @if (question.Answers.Count > 0)
            {
                <a href="@Url.Action("GetAnswers","Answers", new { id = question.Id})">
                    <span class="pull-right">Cevaplar - (@question.Answers.Count)</span>
                </a>
            }
            else
            {
                <p class="pull-right">Henüz cevaplanmamış</p>
            }
        </div>
        <div class="panel-body">
            @question.QuestionText
        </div>
        <a href="@Url.Action("UserProfile", "User", new {id = question.WhoAsked.Id})">
            <span class="pull-right text-warning">@question.WhoAsked.UserName</span>
        </a>
    </div>
    <hr/>
}