@using Microsoft.AspNet.Identity
@model IEnumerable<PsikoterapsitlerBurada.Core.Models.ViewModels.QuestionViewModel>


@foreach (var question in Model)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <p>Bu soruyu soran: 
                        <a href="@Url.Action("UserProfile", "User",
                                     new {id = question.WhoAsked.Id})">
                            <span class="tag">@question.WhoAsked.UserName</span>
                        </a>
                    </p> 
                </div>
                <div class="col-md-4">
                    @if (question.Answers.Count > 0)
                    {
                        @Html.ActionLink("Cevapları Gör", "GetAnswers", "Answers", new {id = question.Id}, new {@class = "btn btn-link btn-sm"})
                    }
                    else
                    {
                        @Html.ActionLink("Henüz Cevaplanmadı", "WriteAnswer","User", new { id = question.Id}, new {@class = "btn btn-link btn-sm"})
                    }
                </div>
            </div>
        </div>
        <div class="panel-body">
                <table class="questions">
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="vote">
                                        <div class="text-center">
                                            <span class="label label-default">Oy</span>
                                        </div>
                                        <div class="text-center">
                                            <p class="vote-counter">@question.TotalVotes</p>
                                        </div>
                                        <div class="text-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td> 
                        <td class="question-text" rowspan="2">
                            <div class="question-text">
                                @question.QuestionText
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="text-center">
                                <p>@question.Answers.Count</p>
                                <span class="label label-default">Cevap</span>
                            </div>
                        </td>
                    </tr>
                </table> 
        </div>
    </div>
}

