@using Microsoft.AspNet.Identity
@model PsikoterapsitlerBurada.Core.Models.ViewModels.GetAnswerViewModel
@{
    ViewBag.Title = "GetAnswers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAnswers</h2>

<div class="panel panel-success">
    <div class="panel-heading">
        <span>Bu soru şunlara soruldu: </span>
        @foreach (var user in Model.QuestionViewModel.AskedToWhom)
        {
            <a href="@Url.Action("UserProfile", "User", new {id = user.Id})">
                <span class="tag">@user.UserName</span>
            </a>
        }
    </div>
    <div class="panel-body">
        @Model.QuestionViewModel.QuestionText
    </div>
    <a href="@Url.Action("UserProfile", "User", new {id = Model.QuestionViewModel.WhoAsked.Id})">
        <span class="pull-right text-warning">@Model.QuestionViewModel.WhoAsked.UserName</span>
    </a>
</div>

<br />

@foreach (var answer in Model.AnswerViewModels)
{

    <div class="well js-answer">
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object" src="http://lorempixel.com/64/64/people" alt="Picture">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@answer.User.UserName</h4>
                <p>
                    @answer.AnswerText
                </p>
            </div>
        </div>
        <div class="like pull-right">
            <span class="like">@answer.TotalLike</span>
            <i class="glyphicon glyphicon-heart like"
               data-toggle="tooltip"
               title="Giriş yapmalısınız"
               id=@answer.Id 
               data-answer-userId=@answer.UserId
               data-userId=@User.Identity.GetUserId()
               onclick="GetAnswersController.likeAction(event)"></i>
        </div>
    </div>
}
    @if (Model.QuestionViewModel.IsAskedToUser(User.Identity.GetUserId()) &&
        !Model.QuestionViewModel.IsAnsweredByUser(User.Identity.GetUserId()))
    {
        <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.TextArea("AnswerText", new
                    {
                        placeholder = "Cevabınız...",
                        @class = "form-control input-lg js-answer-text",
                        rows = 8
                    })
                </div>
            </div>
        </div>
        </form>
        <button class="btn btn-primary js-send-button" id="@Model.QuestionViewModel.Id"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp; Gönder</button>
    }

@section scripts{
    <script>

        $(document).ready(function () {
            setAuthState(@User.Identity.IsAuthenticated.ToString().ToLower());
            tooltip();
            GetAnswersController.getLikeAnswersId(@Model.QuestionViewModel.Id);
            WriteAnswerController.create();
        });
    </script>
}